html, body{
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    font-family: "Courier New", Courier, monospace;

}

a {
    color: black;
}

hr{
    display: block;
    border-width: 2px;
    padding: 2px;
    color: #5aa8dc;
    background-color: #5aa8dc;;
}

/* Menu */
    
    div {
        display: block;
    }

    .dropdown {
        overflow: hidden;
        position: fixed;
        z-index: 99;
        width: 100%;
        background-color: rgba(19,85,137, .8);

    }

    .links-div {
        width: 100%;
        margin-left: 20%;
        padding-top: 2%;
    }

    .dropdown a {
        color: white;
        text-decoration: none;
        font-size: 35px;
        padding-right: 12%;
        display: inline-block;
        float: left;

    }

    .dropdown a:hover {
        color: black;
    }

    .logo-div {
        width: 10%;
        float: left;
    }

    .bar1, .bar2, .bar3 {
        display: none;
    }


    .logo {
        width: 100%;
        margin: 5%;
    }


/* Page */
#problem {
    margin-top: 8%;
}

.konteiner{
  width: 80%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

    h1 {
        text-align: center;
        align-content: center;
        width: 100%;
        font-size: 50px;
    }
    p, li {
        font-size: 30px;
        text-align: center;
        color: black;
        margin-left: 10%;
        margin-right: 10%;
        line-height: 50px;
        
    }

.kort-kolonne{
  width: 100%;
  background: #fff;
  position: relative;
  margin-bottom: 5%;
  margin-top: 5%;
}

.kort-kolonne:hover{
      transform: scale(1.07);
      transition: 0.2s ease-out;
    }


.innerste-kort {
  text-align: center;
  padding: 24px 12px;
  box-shadow: 0px 1px 16px #5aa8dc;
}



.innerste-kort h3{
  font-size: 24px;
  margin: 0;
  margin-top: 24px;
  color: #000;
  }

.innerste-kort span{
  font-size: 14px;
  transform: translateY(10px);
  color: #515150;
  }


.avatar img{
  border-radius: 50%;
    width: 20%;
    height: auto;
    align-content: center;
}

.avatar-info {
    width: 30%;
}

.card:hover .card-icon {
background: none;
color: #5aa8dc;
transform: scale(1.6);
}

.card p {
margin-top: 20px;
font-weight: 300;
letter-spacing: 2px;
max-height: 0;
opacity: 0;
transition: 0.3s linear;
}



/* Footer */

.section-main {
        height: 500px;
        width: 100%;
        box-sizing: border-box;
        margin-top: 0;
         
    }

.section-footer {
    height: 450px;
    background-color: rgba(19,85,137, .8);
    font-size: 20px;
    margin-bottom: 0;
    color: white;
}

.designedBy {
    background-color: rgba(19,85,137, 1);
    font-size: 15px;
    width: 100%;
    text-align: center;
    margin-left: 0;
}

.logo-footer {
    padding: 5% 0 5% 2%;
    width: 25%;
    float: left;
    margin-right: 5%;
}

.logo-footer img {
    width: 100%;
}

.contact-us-footer {
    width: 30%;
    float: left;
}

.media-contact {
    width: 35%;
    float: left;
}

.footer-bottom {
    background: rgba(19,85,137, .8);
    color: black;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: -2000px;
    left: 0px;
    padding-top: 20px;
    
}

.fa {
    color: white;
    padding: 20px;
    font-size: 90px;
    
}

.fa:hover {
    color: black;
    cursor: pointer;
}





