/* Style for mobile */


body {
        font-family: "Courier New", Courier, monospace;
    }
    
    div {
        display: block;
    }

/* Menu */

    .dropdown {
        overflow: hidden;
        position: fixed;
        z-index: 99;
        width: 100%;
        background-color: rgba(19,85,137, .8);

    }
    

    .dropdown #links {
        display: none;
        
    }

    .dropdown a {
        color: white;
        padding: 5% 5%;
        text-decoration: none;
        font-size: 80px;
        display: block;
        width: 100%;
        background-color: rgba(19,85,137, .6);
    }


    .dropdown a:active {
        color: black;
    }

    .links-div {
        width: 100%;
        margin: 0;
        padding: 0;

    }

    .logo-div {
        width: 25%;
        float: left;
    }

    .container {
        display: block;
        cursor: pointer;
        margin: 5%;
        float: right;
        

    }

    .bar1, .bar2, .bar3 {
        width: 50px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
        display: block;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    .logo {
        width: 100%;
        margin: 5%;
        display: block;
    }



/* Product */
.content{
    height: 100%;
    width: auto;
    background-color: lightblue;
    padding-top: 15%;
  }

  .content .img-box{
    height: auto;
    width: 100%;
    background: #fff;
}

  .content .img-box img{
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 50%;
    padding: 40px;
    box-sizing: border-box;

  }
  .content .text-box{
    width: 100%;
    /
    height: 50%;
    margin: auto;
    /

  }


/* Footer */

.section-footer {
    height: 950px;
    background-color: rgba(19,85,137, .8);
    font-size: 50px;
    margin-bottom: 0;
    color: white;
}

.designedBy {
    background-color: rgba(19,85,137, 1);
    font-size: 35px;
    width: 100%;
    text-align: center;
}


.logo-footer {
    display: none;
}

.contact-us-footer {
    width: 100%;
}

.media-contact {
    width: 100%;
}


.fa {
    color: white;
    padding: 20px;
    font-size: 90px;
    
}

.fa:active {
    color: black;
    cursor: pointer;
}